<h1> Notes </h1>
<% @notes.each do |note| %>
  <h2><%= note.title %></h2>
<p><%= link_to 'New Note', new_note_path %></p>
<%= link_to 'Edit note', edit_note_path(note) %>
<%= link_to 'Show Note', note_path(page) %>
<% end %>
